.container {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
}

h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

input {
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
    width: 20vw;
    height: auto;
    margin:5vw 0px 0vw 25vw;
    outline: none;
    padding: 1vw;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    width: auto;
    height: auto;
    margin-top: 5vw;
    outline: none;
    padding: 1vw;
    background-color: rgba(45, 45, 45, 0.37);
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: white;
    color: black(127, 255, 212, 0.229);
    border: 1px solid rgba(127, 255, 212, 0.997);

}

.paras {
    background-color: rgba(45, 45, 45, 0.37);
    margin-top: 2vw;
    font-size: medium;
    padding: 1vw;
    font-family:'Courier New', Courier, monospace;
}
